<template>
  <div class="cards-container">
    <div
      class="demo-card-square mdl-card mdl-shadow--2dp color"
      v-for="(note, index) in notes"
      :key="index"
      v-if="note.archived == true"
    >
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">{{note.title}}</h2>
      </div>
      <div class="mdl-card__supporting-text">{{note.text}}</div>
      <div class="mdl-card__actions mdl-card--border">
        <i title="Restore" class="material-icons" @click="restoreNote(note)">autorenew</i>
        <i title="Delete permanently" class="material-icons" @click="deleteNote(note)">delete</i>
      </div>
    </div>
    <div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>
  </div>
</template>

<script>
import { eventBus } from "../main";
import { helpers } from "../helpers";

export default {
  data() {
    return {
      id: 0
    };
  },
  mixins: [helpers],
  methods: {
    restoreNote(note) {
      this.resource
        .get()
        .then(response => {
          return response.json();
        })
        .then(data => {
          const resultArray = [];
          for (let key in data) {
            resultArray.push(data[key]);
            if (data[key].id == note.id) {
              this.note.archived = false;
              this.note.title = note.title;
              this.note.text = note.text;
              this.note.id = note.id;
              this.note.color = note.color;
              this.$http
                .put(
                  "https://mon-book.firebaseio.com/data/" + key + ".json",
                  this.note
                )
                .then(
                  response => {
                    this.addNoteMsg.message = "Note restored";
                    this.showSnack();
                    this.getMethod();
                  },
                  error => {
                    console.log(error);
                  }
                );
            }
          }
          this.notes = resultArray;
        });
    }
  },
  created() {
    this.resource = this.$resource("data.json");
    eventBus.$on("noteArchived", data => {
      this.id = data;
    });
    this.getMethod();
    this.resource
      .get()
      .then(response => {
        return response.json();
      })
      .then(data => {
        const resultArray = [];
        const cards = document.getElementsByClassName("color");
        for (let key in data) {
          resultArray.push(data[key]);    
        }
        this.notes = resultArray;
        // set l'id correspondant aux cartes et définit leur bgcolor s'ils en ont un  
          for (let i = 0; i < cards.length; i++) {
              cards[i].setAttribute("id", this.notes[i].id);
              cards[i].style.backgroundColor = this.notes[i].color;
          }
      });
  }
};
</script>

<style lang="sass" scoped>
  .cards-container {
        width: 90%;
        margin: auto;
        display: flex; 
        flex-wrap: wrap;
        padding-top: 100px;
    }
    .mdl-dialog {
        padding: 20px;
        width: 600px;
        height: 300px;    
    }
    .title {
        font-size: 24px;
        font-weight: 300;
        line-height: normal;
    }
    .material-icons {
      cursor: pointer;
      font-size: 21px;
      margin-right: 5px;
    }
    .mdl-card {
      min-height:160px;
    }
    .mdl-card__actions {
        justify-content: flex-end;
        display: flex;
    }
</style>
