<template>
<div>
    <app-note class="app-note">
    </app-note>
    <app-list>
    </app-list>
</div>

</template>

<script>
import Note from "./Note.vue";
import List from "./List.vue";
export default {
    components: {
        'app-note': Note, 
        'app-list': List 
    }
    
}
</script>

<style lang="sass">
    .mdl-layout__container {
        position: absolute;
    }
    .main-icon {
        width: 40px;
        margin-right: 10px;
    }
    .app-note {
        padding: 64px 0 64px 0;
    }
    .mdl-navigation__link {
        cursor: pointer;
    } 
</style>
