<template>
  <app-one-note></app-one-note>
</template>
<script>
import OneNote from "./OneNote.vue";
export default {
    components: {
        'app-one-note': OneNote
    },
    
};
</script>

<style lang="sass">
    .cards-container {
        width: 90%;
        margin: auto;
        display: flex; 
        flex-wrap: wrap;
    }
    
</style>
