<template>
  <div>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <form action="#" id="newNote">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input
            class="mdl-textfield__input"
            type="text"
            id="title"
            placeholder="Title"
            v-model="note.title"
          >
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <textarea
            class="mdl-textfield__input"
            type="text"
            rows="3"
            id="text"
            v-model="note.text"
            placeholder="Take a note"
          ></textarea>
        </div>
      </form>
      <div class="mdl-card__actions mdl-card--border">
        <button
          @click="submitNote"
          class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
        >Add note</button>
      </div>
    </div>
    <div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>
    <!-- Floating Multiline Textfield -->
  </div>
</template>

<script>
import { eventBus } from "../main";
import { helpers } from "../helpers";
export default {
  mixins: [helpers],
  created() {
    this.resource = this.$resource("data.json");
  },
  methods: {
    submitNote() {
      const snackbarContainer = document.querySelector(
        "#demo-snackbar-example"
      );
      const title = document.getElementById("title");
      title.value;
      const text = document.getElementById("text");
      text.value;
      this.note.id = Date.now();
      componentHandler.upgradeElement(snackbarContainer);
      document.getElementById("newNote").reset();
      this.addNoteMsg.message = "New note added";
      snackbarContainer.MaterialSnackbar.showSnackbar(this.addNoteMsg);
      // Juste pour se souvenir de la structure d'une méthode
      // this.$http
      //   .post("https://mon-book.firebaseio.com/data.json", this.note)
      //   .then(
      //     response => {
      //       console.log(response);
      //       eventBus.isCreated();
      //     },
      //     error => {
      //       console.log(error);
      //     }
      //   );
      this.resource.save({}, this.note).then(response => {
        eventBus.isCreated();
        this.resource
          .get()
          .then(response => {
            return response.json();
          })
          .then(data => {
            const resultArray = [];
            for (let key in data) {
              resultArray.push(data[key]);
            }
            // Set id to card
            const cards = document.querySelectorAll(".color");
            for (let i = 0; i < cards.length; i++) {
              const id = resultArray[i].id;
              cards[i].setAttribute("id", id);
            }
          });
      });
    }
  }
};
</script>

<style lang="sass" scoped>
    input, textarea {
      outline: none;
    }
    .demo-card-wide {
        margin: auto;
        margin-top: 20px;
    }
    form {
        margin: 10px;
    }
    .mdl-card__actions {
        justify-content: flex-end;
        display: flex;
    }
    .mdl-card__actions.mdl-card--border {
        border: 0px;
    }
    
</style>
