<template>
  <div class="cards-container">
    <div
      class="demo-card-square mdl-card mdl-shadow--2dp color"
      v-for="(note, index) in notes"
      :key="index"
      v-if="note.archived == false"
    >
      <div class="mdl-card__title mdl-card--expand" @click="openNote(note)">
        <h2 class="mdl-card__title-text">{{note.title}}</h2>
      </div>
      <div class="mdl-card__supporting-text" @click="openNote(note)">{{note.text}}</div>
      <div class="mdl-card__actions mdl-card--border">
        <i title="Duplicate" class="material-icons" @click="duplicate(note)">file_copy</i>
        <i title="Change background" class="material-icons" @click="openColorPicker">palette</i>
        <div
          class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events"
          for="demo-menu-lower-right"
          :class="{colorPicker: palette}"
        >
          <ul>
            <li
              id="point"
              class="dot"
              v-for="(color, index) in colors"
              :key="index"
              @click="chooseColor(color, index, note)"
              :class="'style-' + ((index % colors.length))"
            ></li>
          </ul>
        </div>
        <i title="Archive" class="material-icons" @click="archiveNote(note)">archive</i>
        <i title="Delete" class="material-icons" @click="deleteNote(note)">delete</i>
      </div>
    </div>
    <dialog class="mdl-dialog">
      <input
        class="mdl-textfield__input title"
        placeholder="Title"
        type="text"
        id="title"
        v-model="note.title"
      >
      <textarea
        class="mdl-textfield__input"
        type="text"
        rows="9"
        id="sample5"
        v-model="note.text"
        placeholder="Take a note"
      ></textarea>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button" @click="modifyNote(note)">Modifier</button>
        <button type="button" class="mdl-button close">Annuler</button>
      </div>
    </dialog>
    <div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>
  </div>
</template>

<script>
import { eventBus } from "../main";
import { helpers } from "../helpers";
export default {
  data() {
    return {
      palette: false,
      colors: [
        "#fff",
        "#9fd3c7",
        "#ff8260",
        "#ff4057",
        "#ffffb5",
        "#f6f5f5",
        "#f54291",
        "#d5daeb"
      ]
    };
  },
  mixins: [helpers],
  methods: {
    duplicate(note) {
      // Attribute new timestamp to duplicate card
      note.id = Date.now();
      this.resource.save({}, note).then(response => {
        eventBus.isCreated();
        this.getColorOnLoad();
      });
    },
    chooseColor(color, index, note) {
      // remet toutes les bordures en blanc
      var dots = document.querySelectorAll(
        ".style-0, .style-1, .style-2, .style-3, .style-4, .style-5, .style-6, .style-7"
      );
      for (var i = 0; i < dots.length; i++) {
        dots[i].style.border = "1.5px solid white";
      }
      // Met la bordure de couleur pour la pastille selectionnée
      var dot = document.querySelectorAll(".style-" + index);
      for (var i = 0; i < dot.length; i++) {
        dot[i].style.border = "1.5px solid #f0b7a4";
        // Met la couleur dans la bdd
        this.note.color = color;
        note.color = color;
        this.resource
          .get()
          .then(response => {
            return response.json();
          })
          .then(data => {
            for (let key in data) {
              if (data[key].id == note.id) {
                this.$http
                  .put(
                    "https://mon-book.firebaseio.com/data/" + key + ".json",
                    note
                  )
                  .then(response => {
                    this.resource
                      .get()
                      .then(response => {
                        return response.json();
                      })
                      .then(data => {
                        const resultArray = [];
                        for (let key in data) {
                          resultArray.push(data[key]);
                        }
                        // Get the id of the card and set the bg color chosen
                        this.notes = resultArray;
                        const card = document.getElementById(note.id);
                        card.style.backgroundColor = this.note.color;
                        this.palette = false;
                      });
                  });
              }
            }
          });
      }
    },
    openColorPicker() {
      this.palette = !this.palette;
    },
    archiveNote(note) {
      note.archived = true;
      this.note.archived = true;
      this.resource
        .get()
        .then(response => {
          return response.json();
        })
        .then(data => {
          for (let key in data) {
            if (data[key].id == note.id) {
              this.$http
                .put(
                  "https://mon-book.firebaseio.com/data/" + key + ".json",
                  note
                )
                .then(response => {
                  this.getMethod();
                  this.addNoteMsg.message = "Note archived";
                  this.showSnack();
                  eventBus.$emit("noteArchived", note.id);
                });
            }
          }
        });
    },
    openNote(note) {
      this.note.title = note.title;
      this.note.text = note.text;
      this.note.id = note.id;
      var dialog = document.querySelector("dialog");
      if (!dialog.showModal) {
        dialogPolyfill.registerDialog(dialog);
      }
      dialog.showModal();
      dialog.querySelector(".close").addEventListener("click", function() {
        dialog.close();
      });
    },
    modifyNote(note) {
      var dialog = document.querySelector("dialog");
      this.note.title = note.title;
      this.note.text = note.text;
      this.note.id = note.id;
      this.resource
        .get()
        .then(response => {
          return response.json();
        })
        .then(data => {
          const resultArray = [];
          for (let key in data) {
            resultArray.push(data[key]);
            if (data[key].id == this.note.id) {
              this.$http
                .put(
                  "https://mon-book.firebaseio.com/data/" + key + ".json",
                  note
                )
                .then(
                  response => {
                    this.addNoteMsg.message = "Note modified";
                    this.showSnack();
                    this.getMethod();
                  },
                  error => {
                    console.log(error);
                  }
                );
            }
          }
          this.notes = resultArray;
        });
      dialog.close();
    }
  },
  created() {
    this.resource = this.$resource("data.json");

    //   Get pour afficher les notes qui viennent d'être créées
    eventBus.$on("noteCreated", data => {
      this.created = data;
      this.getMethod();
    });
    // get pour afficher les notes déjà existantes
    this.getMethod();
    this.getColorOnLoad();
  }
};
</script>
<style lang="sass">
    form {
        margin: 10px;
    }
    .demo-card-square {
        margin: 15px;
        transition: all 0.4s ease; 
        &:hover {
            transform: translateY(-20px);
            box-shadow: 0 16px 36px -15px rgba(0,0,0,0.25);
            .mdl-card__actions {
              opacity:1;
            }
        }     

    }
    .mdl-card__actions {
        justify-content: flex-end;
        display: flex;
    }
    .cards-container {
      .mdl-card__actions {
        opacity: 0;
        transition: 0.3s all ease;
      }
    }
    .mdl-dialog {

      
        input, textarea {
            outline: none;
            color: rgba(0,0,0,.87);
        }
        textarea {
            margin-top: 30px;        
        }
    }

    .mdl-dialog {
        padding: 20px;
        width: 600px;
        height: 300px;    
    }
    .title {
        font-size: 24px;
        font-weight: 300;
        line-height: normal;
    }
    .material-icons {
      cursor: pointer;
      font-size: 21px;
      margin-right: 5px;
    }
    .mdl-card {
      min-height:160px;
    }
    .colorPicker {
      opacity: 1;
      bottom: 2.5em;
      top: inherit;
      z-index: 999;
      clip: rect(0px, 148.313px, 208px, 0px);
      margin: 0 5px 8px 0;
      height: 60px;
      box-shadow: 0 16px 36px -15px rgba(0,0,0,0.25);
      display: flex;
      flex-wrap: wrap;
      width: 50px;
      background-color: white;
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .dot {
          height: 25px;
          width: 25px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          cursor: pointer;
          border: 1.5px solid white;
        }
        .style-0 {
          background-color: #fff;
        }
        .style-1 {
          background-color: #9fd3c7;
        }
        .style-2 {
          background-color: #ff8260;
        }
        .style-3 {
          background-color: #ff4057;
        }
        .style-4 {
          background-color: #ffffb5;
        }
        .style-5 {
          background-color: #f6f5f5;
        }
        .style-6 {
          background-color: #f54291;
        }
        .style-7 {
          background-color: #d5daeb;
        }
      }
    }

@media screen and (max-width: 768px) {
  .mdl-dialog {
    width: 80%; 
    height: 270px;
  } 
  .cards-container .mdl-card__actions {
    opacity:1;
  }
    .material-icons {
      font-size: 25px;
    }
}
</style>
