<template>
  <div>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header is-casting-shadow">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <router-link class="mdl-navigation__link home-link" tag="a" :to="{name: 'home'}">
            <img class="main-icon" src="./assets/icon.png" alt>
          </router-link>
          <span class="mdl-layout-title">Keep</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
        </div>
      </header>
      <div class="mdl-layout__drawer" id="menu-container">
        <span class="mdl-layout-title">Keep</span>
        <nav class="mdl-navigation" @click="closeMenu">
          <router-link class="mdl-navigation__link" tag="a" :to="{name: 'home'}">
            <i class="material-icons">notes</i>Notes
          </router-link>
          <router-link class="mdl-navigation__link" tag="a" :to="{name: 'archives'}">
            <i title="Archive" class="material-icons">archive</i>
            Archives
          </router-link>
        </nav>
      </div>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
import Note from "./components/Note.vue";
import List from "./components/List.vue";
export default {
  components: {
    "app-note": Note,
    "app-list": List
  },
  methods: {
    closeMenu() {
      var layout = document.querySelector(".mdl-layout");
      layout.MaterialLayout.toggleDrawer();
      const menu = document.getElementById("menu-container");
      const layer = menu.classList.remove("is-visible");
    }
  }
};
</script>

<style lang="sass">
    .mdl-layout__container {
        position: absolute;
    }
    .main-icon {
        width: 40px;
        margin-right: 10px;
    }
    .app-note {
        padding: 64px 0 64px 0;
    }
    .mdl-navigation__link {
        cursor: pointer;
    } 
    .mdl-layout__container .home-link {
        padding: 0;
    }
    .material-icons {
      margin-right:15px;
    }
    .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
      display: flex;
      align-items: center;
    }
    #menu-container .router-link-exact-active {
      background-color: #e0e0e0;
    }
</style>
